.block_sec{
    margin-top: 5%;
    padding: 20px;
    border-radius:2%;
    background-image:linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.9)), url("gray2.jpg");
    width: 50%;
    height: 80%;
    min-width: 400px;
}

.profile_image{
    padding-left: 10%;
}